@import "variables";
@import "breakpoints";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 595px;
  padding-top: 170px;
  padding-bottom: 100px;
  margin-bottom: 50px;
  position: relative;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;

    .heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      margin-bottom: 30px;
      h2 {
        font-size: 40px;
        font-weight: 600;
        line-height: 0;
      }
      p {
        text-align: center;
      }
    }

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      padding: 20px;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $white;
        width: 330px;
        min-height: 350px;
        box-shadow: 0 5px 15px 5px rgba($color: #000000, $alpha: 0.03);
        border-radius: 6px;
        padding: 30px;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $accent2;
          border: 1px solid #cad7dc;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          span {
            display: flex;
            margin: auto;
            color: $primary;
            font-size: 25px;
          }
        }
      }
    }
  }
}

.about::before {
  content: "";
  background: $accent;
  width: 100%;
  height: 850px;
  transform: skewY(-3deg);
  position: absolute;
  z-index: -1;
  top: 50px;
}

//___ BREAKPOINTS ___
@include lg {
  .about::before {
    height: 1200px;
  }
}

@include md {
  .about {
    padding-top: 100px;
    .container {
      .heading {
        width: 80%;
      }
      .cards {
        .card {
          width: 80%;
        }
      }
    }
  }

  .about::before {
    top: 10px;
    height: 1500px;
  }
}

@include sm {
  .about {
    padding-top: 50px;
    .container {
      .cards {
        .card {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .about::before {
    top: -20px;
    height: 1500px;
  }
}
